---

---

<footer>
  <div class="container">
    <div class="row justify-content-center my-3">
      <div class="col-8 text-center">
        <h3><b>Social Media</b></h3>
        <hr />
        <div class="my-3">
          <a
            class="mx-5"
            id="socialMedia"
            target="_blank"
            href="https://www.linkedin.com/in/marco-alejandro-ramirez/"
          >
            <img src="/portfolio-react/images/linkedin.png" alt="LinkedIn" />
          </a>
          <a
            class="mx-5"
            id="socialMedia"
            target="_blank"
            href="https://github.com/LilMark0o"
          >
            <img src="/portfolio-react/images/github.png" alt="GitHub" />
          </a>
        </div>
        <p id="contact_gmail">Gmail: marcoalejandroramirezc@gmail.com</p>
      </div>
    </div>
  </div>
</footer>
